@import './Styles/fonts.scss';
@import './Styles/mixins.scss';

body,
html {
  margin: 0;
  padding: 0;
  background-color: #ebc2af;
}

.wrapper {
  position: relative;
  height: 100vh;
  max-width: 900px;

  padding: 40px 20px;
  margin: auto;
  box-sizing: border-box;
}

.title {
  margin: 0 0 20px;
  text-align: center;

  @include kanit (26px, 500);
  color: #252525;
}

.input_wrap {
  position: relative;
  max-width: 600px;
  width: 100%;
}

.input {
  padding: 10px 16px;
  box-sizing: border-box;
  width: 100%;

  border: 1px solid #6C63FF;
  border-radius: 5px;
  outline: none;

  @include kanit (20px, 500);
  color: #C3C1E5;

  &::placeholder {
    color: #C3C1E5;
  }

  &:focus {
    box-shadow: 0px 1px 14px 2px rgba(108, 99, 255, 0.40);
  }
}

.search {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}

.container {
  @include flex (center, center);
  gap: 16px;
  flex-wrap: wrap;
}

.square {
  background: url('./Assets/square-btn.svg');
  width: 38px;
  height: 38px;
}

.circle {
  position: absolute;
  bottom: 40px;
  right: 20px;
  background: url('./Assets/circle-btn.svg');
  background-size: 50px, 50px;
  width: 50px;
  height: 50px;
}