@import './Styles/fonts.scss';
@import './Styles/mixins.scss';

body,
html {
  margin: 0;
  padding: 0;
  background-color: #ebc2af;
}

button {
  padding: 0;
  height: 45px;

  border: none;
  cursor: pointer;
  background-color: #6C63FF;
  border-radius: 5px;

  @include fira (18px, 500);
  color: #FFF;
  transition: 0.3s ease;

  &:hover {
    background-color: #534CC2;
  }

}

.wrapper {
  position: relative;
  height: 100vh;
  max-width: 900px;

  padding: 40px 20px;
  margin: auto;
  box-sizing: border-box;
}

.title {
  margin: 0 0 20px;
  text-align: center;

  @include fira (26px, 500);
  color: #252525;
}

.input_wrap {
  position: relative;
  max-width: 600px;
  width: 100%;
}

.search {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}

.container {
  @include flex (center, center);
  gap: 16px;
  flex-wrap: wrap;

  margin-bottom: 30px;
}

.square {
  position: relative;
  width: 43px;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';

    background: url('./Assets/square-btn.png');
    width: 35px;
    height: 35px
  }
}

.circle {
  position: absolute;
  bottom: 40px;
  right: 20px;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';

    background: url('./Assets/circle-btn.png');
    width: 48px;
    height: 48px;
  }
}



.empty_wrap {
  margin: auto;
  text-align: center;
}

.empty {
  @include fira (20px, 400);
}