@import '../../Styles/mixins.scss';

.select {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  width: 140px;
  height: 45px;

  border-radius: 5px;
  background-color: #6C63FF;
  box-shadow: 0px 0px 4px 0px #6C63FF;

  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: #534CC2;

    .options {
      border: 2px solid #534CC2;
    }
  }
}

.options {
  position: relative;
  top: 32%;
  left: -10px;
  width: 135px;
  z-index: 2;

  margin: 0;
  padding: 0;

  list-style: none;
  border: 2px solid #6C63FF;
  border-radius: 5px;
  background-color: #FFFFFF;

  transform: translateY(-10%);
  transition: 0.3s ease;
}

.selected {
  margin: 0;
  @include fira (18px, 500);
  color: #FFFFFF;
  text-transform: uppercase;
}

.item {
  margin: 0;

  font-size: 0;
  max-height: 0;

  color: #6C63FF;

  &:hover {
    background-color: rgba(108, 99, 255, 0.20);
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;

  transition: 0.3s ease;
}

.options_show {
  @extend .options;
  transform: translateY(4%);
}

.item_show {
  @extend .item;
  @include fira (16px, 500);
  max-height: 25px;
  padding: 8px 4px;
}

.rotate {
  @extend .arrow;
  transform: rotate(180deg);
}