@import '../../Styles/mixins.scss';

.task {
  width: 75%;
  margin: auto;
  margin-bottom: 20px;

  @include flex (center, space-between);
}

.label {
  line-height: 0;
}

.checkbox {
  display: none;
}

.fake {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;

  border: 1px solid #6C63FF;
  border-radius: 2px;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 0;
    left: 0;

    content: '✔';
    width: 100%;
    height: 100%;

    background-color: #6C63FF;
    color: #FFF;
    text-align: center;

    opacity: 0;
    transition: 0.3s ease;
  }
}

.checkbox:checked+.fake::before {
  opacity: 1;
}

.text {
  margin: 0;
  width: 80%;

  @include kanit (20px, 500);
}

.edit,
.delete {
  width: 20px;
  height: 20px;
}

.edit {
  margin-right: 15px;

  background: url('../../Assets/edit-icon.svg') no-repeat;
  background-size: 20px 20px;
}

.delete {
  background: url('../../Assets/delete-icon.svg');
  background-size: 20px 20px;
}